*
!fastorm
!fastorm/*
!fastorm/**/*
!tests
!tests/*
!tests/**/*
!CHANGELOG.md
!DEPLOYMENT.md
!example.py
!LICENSE
!Makefile
!pyproject.toml
!README.md
!requirements.txt
!run_tests.sh


.idea/
.python-version
dist/
tests/results/
.gitignore
CHECKLIST.md
